In [1]:
# Pandas
import pandas as pd
# SQL Alchemy
from sqlalchemy import create_engine

In [2]:
# Creating an engine to connect to the database
engine = create_engine("postgresql://postgres:postgres@localhost:5432/Melting_Ice_DB")

In [9]:
# confirm the tablename
engine.table_names()

['melting_ice']

In [3]:
# connecting to database
conn = engine.connect()

In [8]:
# Query all records in the database
data = pd.read_sql("SELECT * FROM melting_ice", conn)
data.head()

,year,mean_glacier_mass,mean_global_temp,total_co2_emmission,gas_fuel,liquid_fuel,solid_fuel,cement,gas_flaring,per_capita,glob,nhem,shem
0,1975,-10.534,0.0034,4596,604,2132,1673,95,92,1.13,-0.01,-0.05,0.02
1,1976,-10.633,-0.0792,4864,630,2314,1710,103,108,1.18,-0.10,-0.21,0.01
2,1977,-10.682,0.1978,5026,650,2398,1765,108,104,1.19,0.18,0.12,0.24
3,1978,-10.754,0.1123,5087,680,2392,1793,116,106,1.19,0.07,0.02,0.12
4,1979,-11.127,0.2273,5369,721,2544,1887,119,98,1.23,0.16,0.08,0.25