In [2]:
!pip install datapackage
import datapackage
import pandas as pd

Collecting datapackage
  Downloading https://files.pythonhosted.org/packages/99/22/f0c44bbee4c3afcaabe0c664668917c8143aa5a6ac2eac35123f01ab573f/datapackage-1.9.0-py2.py3-none-any.whl (78kB)
Requirement already satisfied: six>=1.10 in c:\users\pragy\anaconda3\lib\site-packages (from datapackage) (1.12.0)
Collecting tabulator>=1.24.2 (from datapackage)
  Downloading https://files.pythonhosted.org/packages/58/4b/9cb50ce7e003a6ed816dc959423391dc5a0f1d6cc9f7e9f39f56136454da/tabulator-1.24.2-py2.py3-none-any.whl (52kB)
Requirement already satisfied: unicodecsv>=0.14 in c:\users\pragy\anaconda3\lib\site-packages (from datapackage) (0.14.1)
Collecting jsonpointer>=1.10 (from datapackage)
  Downloading https://files.pythonhosted.org/packages/18/b0/a80d29577c08eea401659254dfaed87f1af45272899e1812d7e01b679bc5/jsonpointer-2.0-py2.py3-none-any.whl
Requirement already satisfied: jsonschema>=2.5 in c:\users\pragy\anaconda3\lib\site-packages (from datapackage) (3.0.1)
Collecting cchardet>=1.0 (from datapackage)
  Downloading https://files.pythonhosted.org/packages/71/f8/561914ee99a16a215a7aaa50ae53bf3c04ec40bf074cdda77aebf9861a36/cchardet-2.1.4-cp37-cp37m-win_amd64.whl (92kB)
Collecting tableschema>=1.1.0 (from datapackage)
  Downloading https://files.pythonhosted.org/packages/ce/37/7805458b9f2eabc8906b116338a8d1746d429bd6e8b9fbde0d172273efa9/tableschema-1.7.0-py2.py3-none-any.whl (56kB)
Requirement already satisfied: requests>=2.8 in c:\users\pragy\anaconda3\lib\site-packages (from datapackage) (2.21.0)
Requirement already satisfied: click>=6.7 in c:\users\pragy\anaconda3\lib\site-packages (from datapackage) (7.0)
Collecting jsonlines>=1.1 (from tabulator>=1.24.2->datapackage)
  Downloading https://files.pythonhosted.org/packages/4f/9a/ab96291470e305504aa4b7a2e0ec132e930da89eb3ca7a82fbe03167c131/jsonlines-1.2.0-py2.py3-none-any.whl
Collecting openpyxl<2.5,>=2.4 (from tabulator>=1.24.2->datapackage)
  Downloading https://files.pythonhosted.org/packages/77/26/0bd1a39776f53b4f28e5bb1d26b3fcd99068584a7e1ddca4e09c0d5fd592/openpyxl-2.4.11.tar.gz (158kB)
Collecting ijson>=2.0 (from tabulator>=1.24.2->datapackage)
  Downloading https://files.pythonhosted.org/packages/f8/9f/3850bd2fc7a40a9ef50b97519e55a5c319936546b87a41a56eac60ca5fb7/ijson-2.4.tar.gz
Requirement already satisfied: sqlalchemy>=0.9.6 in c:\users\pragy\anaconda3\lib\site-packages (from tabulator>=1.24.2->datapackage) (1.3.1)
Collecting linear-tsv>=1.0 (from tabulator>=1.24.2->datapackage)
  Downloading https://files.pythonhosted.org/packages/82/e5/03207a0f11e1d60df85b97b61704ed701b725a7c2feaf83f7bfbd0c2d83e/linear-tsv-1.1.0.tar.gz
Requirement already satisfied: xlrd>=1.0 in c:\users\pragy\anaconda3\lib\site-packages (from tabulator>=1.24.2->datapackage) (1.2.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\pragy\anaconda3\lib\site-packages (from jsonschema>=2.5->datapackage) (19.1.0)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\pragy\anaconda3\lib\site-packages (from jsonschema>=2.5->datapackage) (0.14.11)
Requirement already satisfied: setuptools in c:\users\pragy\anaconda3\lib\site-packages (from jsonschema>=2.5->datapackage) (40.8.0)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\pragy\anaconda3\lib\site-packages (from tableschema>=1.1.0->datapackage) (2.8.0)
Collecting rfc3986>=1.1.0 (from tableschema>=1.1.0->datapackage)
  Downloading https://files.pythonhosted.org/packages/00/8d/9d56bfe43997f1864fe0891be69bc239ded98e69c9f56eb9eaa5b1789660/rfc3986-1.3.2-py2.py3-none-any.whl
Collecting isodate>=0.5.4 (from tableschema>=1.1.0->datapackage)
  Downloading https://files.pythonhosted.org/packages/9b/9f/b36f7774ff5ea8e428fdcfc4bb332c39ee5b9362ddd3d40d9516a55221b2/isodate-0.6.0-py2.py3-none-any.whl (45kB)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\pragy\anaconda3\lib\site-packages (from requests>=2.8->datapackage) (2.8)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in c:\users\pragy\anaconda3\lib\site-packages (from requests>=2.8->datapackage) (1.24.1)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\pragy\anaconda3\lib\site-packages (from requests>=2.8->datapackage) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\pragy\anaconda3\lib\site-packages (from requests>=2.8->datapackage) (2019.3.9)
Requirement already satisfied: jdcal in c:\users\pragy\anaconda3\lib\site-packages (from openpyxl<2.5,>=2.4->tabulator>=1.24.2->datapackage) (1.4)
Requirement already satisfied: et_xmlfile in c:\users\pragy\anaconda3\lib\site-packages (from openpyxl<2.5,>=2.4->tabulator>=1.24.2->datapackage) (1.0.1)
Building wheels for collected packages: openpyxl, ijson, linear-tsv
  Building wheel for openpyxl (setup.py): started
  Building wheel for openpyxl (setup.py): finished with status 'done'
  Stored in directory: C:\Users\pragy\AppData\Local\pip\Cache\wheels\59\44\27\63b211425501ad51d197ff8ed00e9e469e38b9e516cb69b1c2
  Building wheel for ijson (setup.py): started
  Building wheel for ijson (setup.py): finished with status 'done'
  Stored in directory: C:\Users\pragy\AppData\Local\pip\Cache\wheels\5d\99\57\bb6d6cf066d73eca1f0e3cb792376ac9f1a5a2178e0c24990f
  Building wheel for linear-tsv (setup.py): started
  Building wheel for linear-tsv (setup.py): finished with status 'done'
  Stored in directory: C:\Users\pragy\AppData\Local\pip\Cache\wheels\3f\8a\cb\38917fd1ef4356b9870ace7331b83417dc594bf2c029bd991f
Successfully built openpyxl ijson linear-tsv
Installing collected packages: jsonlines, cchardet, openpyxl, ijson, linear-tsv, tabulator, jsonpointer, rfc3986, isodate, tableschema, datapackage
  Found existing installation: openpyxl 2.6.1
    Uninstalling openpyxl-2.6.1:
      Successfully uninstalled openpyxl-2.6.1
Successfully installed cchardet-2.1.4 datapackage-1.9.0 ijson-2.4 isodate-0.6.0 jsonlines-1.2.0 jsonpointer-2.0 linear-tsv-1.1.0 openpyxl-2.4.11 rfc3986-1.3.2 tableschema-1.7.0 tabulator-1.24.2

In [5]:
data_url = 'https://datahub.io/core/co2-fossil-global/datapackage.json'

# to load Data Package into storage
package = datapackage.Package(data_url)

df_list=[]

# to load only tabular data
resources = package.resources
for resource in resources:
    if resource.tabular:
        data = pd.read_csv(resource.descriptor['path'])
        df_list.append(data)

In [6]:
len(df_list)

2

In [10]:
df1=df_list[0]
df1

,Year,Total,Gas Fuel,Liquid Fuel,Solid Fuel,Cement,Gas Flaring,Per Capita
0,1751,3,0,0,3,0,0,NaN
1,1752,3,0,0,3,0,0,NaN
2,1753,3,0,0,3,0,0,NaN
3,1754,3,0,0,3,0,0,NaN
4,1755,3,0,0,3,0,0,NaN
5,1756,3,0,0,3,0,0,NaN
6,1757,3,0,0,3,0,0,NaN
7,1758,3,0,0,3,0,0,NaN
8,1759,3,0,0,3,0,0,NaN
9,1760,3,0,0,3,0,0,NaN
10,1761,3,0,0,3,0,0,NaN
11,1762,3,0,0,3,0,0,NaN
12,1763,3,0,0,3,0,0,NaN
13,1764,3,0,0,3,0,0,NaN
14,1765,3,0,0,3,0,0,NaN
15,1766,3,0,0,3,0,0,NaN
16,1767,3,0,0,3,0,0,NaN
17,1768,3,0,0,3,0,0,NaN
18,1769,3,0,0,3,0,0,NaN
19,1770,3,0,0,3,0,0,NaN
20,1771,4,0,0,4,0,0,NaN
21,1772,4,0,0,4,0,0,NaN
22,1773,4,0,0,4,0,0,NaN
23,1774,4,0,0,4,0,0,NaN
24,1775,4,0,0,4,0,0,NaN
25,1776,4,0,0,4,0,0,NaN
26,1777,4,0,0,4,0,0,NaN
27,1778,4,0,0,4,0,0,NaN
28,1779,4,0,0,4,0,0,NaN
29,1780,4,0,0,4,0,0,NaN
...,...,...,...,...,...,...,...,...
230,1981,5152,756,2289,1921,121,64,1.14
231,1982,5113,740,2196,1992,121,64,1.11
232,1983,5094,741,2176,1995,125,58,1.09
233,1984,5280,808,2199,2094,128,51,1.11
234,1985,5439,837,2186,2237,131,49,1.12
235,1986,5607,831,2293,2300,137,46,1.14
236,1987,5752,894,2306,2364,143,44,1.15
237,1988,5965,937,2412,2414,152,50,1.17
238,1989,6097,985,2459,2457,156,41,1.17
239,1990,6127,1019,2492,2419,157,40,1.16
240,1991,6217,1063,2605,2345,161,44,1.16
241,1992,6164,1095,2510,2357,167,35,1.13
242,1993,6162,1129,2523,2298,176,36,1.11
243,1994,6266,1139,2546,2358,186,38,1.11
244,1995,6398,1157,2565,2442,197,36,1.12
245,1996,6542,1209,2624,2469,203,37,1.13
246,1997,6651,1208,2700,2495,209,38,1.13
247,1998,6643,1243,2766,2391,209,35,1.12
248,1999,6610,1270,2737,2352,217,33,1.10
249,2000,6765,1288,2838,2367,226,45,1.11
250,2001,6927,1312,2840,2492,237,46,1.12
251,2002,6996,1344,2831,2521,252,48,1.12
252,2003,7416,1391,2959,2743,276,48,1.17
253,2004,7807,1437,3053,2967,298,53,1.21
254,2005,8093,1480,3076,3157,320,60,1.24
255,2006,8370,1525,3089,3339,356,61,1.27
256,2007,8566,1572,3081,3464,382,68,1.28
257,2008,8783,1631,3122,3571,388,71,1.30
258,2009,8740,1585,3056,3620,413,66,1.28
259,2010,9167,1702,3114,3842,450,59,1.33

In [11]:
df1.to_csv("CO2Emission.csv")